<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="connection.pool_size">1000</property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost:3306/cfrdb
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
        </property>

        <!-- List of XML mapping files -->
        <mapping resource = "mapping/Conference.hbm.xml"/>
        <mapping resource = "mapping/Place.hbm.xml"/>
        <mapping resource = "mapping/Room.hbm.xml"/>
        <mapping resource = "mapping/User.hbm.xml"/>
        <mapping resource = "mapping/Attends.hbm.xml"/>
        <mapping resource = "mapping/UserType.hbm.xml"/>

    </session-factory>
</hibernate-configuration>